<form id="form-usuario" enctype="multipart/form-data">
    <div class="form-group">
        <label>Nome do usuário</label>
        <input type="text" name="NOME" id="NOME" class="form-control">
    </div>
    <div class="form-group">
        <label>E-mail do usuário</label>
        <input type="email" name="EMAIL" id="EMAIL" class="form-control">
    </div>
    <div class="form-group">
        <label>Senha</label> do usuário</label>
        <input type="password" name="SENHA" id="SENHA" class="form-control">
    </div>
    <div class="form-group">
        <label>Tipo do usuário</label>
        <select name="TIPO_USUARIO_IDTIPO_USUARIO" id="TIPO_USUARIO_IDTIPO_USUARIO" class="form-control"></select>
    </div>
    <div class="form-group">
        <label>Curso do usuário</label>
        <select name="CURSO_IDCURSO" id="CURSO_IDCURSO" class="form-control"></select>
    </div>
    <input type="hidden" name="IDUSUARIO" id="IDUSUARIO">
</form>